<%- set_title 'WebCT / Moodle failid' -%>
<%- catch_errors_for @assessment -%>

<div id="news">
  <h2>Uudised ja muu</h2>
  <ul>
    <li><%= link_to "teachers.ee", "http://teachers.ee" %></li>
    <li>
      Firefoxi extension beta (<%= link_to "download", "https://addons.mozilla.org/en-US/firefox/addon/249373/" %>, <%= link_to "source", "http://github.com/indrekj/ut-urgas-eu-firefox-uploader" %>)
    </li>
  </ul>
</div>

<script type="text/javascript">
  var categoriesList = <%=raw @categories.map(&:name).to_json %>;
</script>

<div id="new_file_div">
  <%= link_to "lisa uus fail", "#", :id => "new_file_link" %><br/>
</div>

<br/>

<%= render :partial => "categories" %>

<br style="clear: both;"/>

<table id="assessments" style="display: none;">
  <caption>title</caption>

  <colgroup>
    <col class="col1"/>
    <col class="col2"/>
    <col class="col3"/>
  </colgroup>

  <thead class="odd">
    <tr>
      <td>Tiitel</td>
      <td>Aasta</td>
      <td>Autor</td>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
<div id="assessments_spinner" style="display: none;"><%= image_tag "spinner.gif" %></div>
