<%- set_title 'WebCT / Moodle failid' -%>
<%- catch_errors_for @assessment -%>

<div id="howto">
  <h2>HowTo</h2>
  <strong>WebCT</strong>
  <ol>
    <li>Ava assasments ning vali töö</li>
    <li>Edasi "View Submission"</li>
    <li>Nüüd ava <strong>uues</strong> aknas vastav Attempt</li>
    <li>Right click ja Save Page As... (html only)</li>
  </ol>

  <br/>
  <strong>Moodle</strong>
  <ol>
    <li>Ava töö tulemused (kõik ühel lehel)</li>
    <li>File ja Save Page As... (html only)</li>
  </ol>

  <br/>
  <h2>Uudised ja muu</h2>
  <ul>
    <li><%= link_to "teachers.ee NÜÜD AVATUD", "http://teachers.ee" %></li>
    <li>
      Mõte: teha firefoxile plugin tööde <br/>uploadimiseks. Kellel vaba aega ja huvi <br/>
      võtku <%= link_to "ühendust", "http://github.com/indrekj/ut-urgas-eu-firefox-uploader" %>
    </li>
  </ul>
</div>

<script type="text/javascript">
  var categoriesList = <%=raw @categories.map(&:name).to_json %>;
</script>

<div id="new_file_div">
  <%= link_to "lisa uus fail", "#", :id => "new_file_link" %><br/>
</div>

<br/>

<%= render :partial => "categories" %>

<br style="clear: both;"/>

<table id="assessments" style="display: none;">
  <thead class="odd">
    <tr>
      <td>Tiitel</td>
      <td>Tüüp</td>
      <td>Aasta</td>
      <td>Autor</td>
      <td>Fail</td>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
<div id="assessments_spinner" style="display: none;"><%= image_tag "spinner.gif" %></div>

<%# In place text editors for title and category columns %>
<%# TODO: kasuta unobtrusive js-i %>
<% if admin? -%>
  <script type="text/javascript">
    <% @assessments.each do |assessment| -%>
      in_place_editor($('<%= dom_id(assessment) %>'), 'title', '<%= assessment_path(assessment, :format => "json") %>');
      in_place_editor($('<%= dom_id(assessment) %>'), 'category', '<%= assessment_path(assessment, :format => "json") %>');
    <% end -%>
  </script>
<% end -%>

