<%= stylesheet_link_tag "fileuploader" %>
<%= javascript_include_tag "fileuploader" %>

<div id="upload_step_one">
</div>

<div style="display: none" id="upload_step_two">
  <p>Palun kontrolli ja täienda andmeid</p>

  <%= form_tag "#", :id => "upload_step_two_form" do %>
    <table>
      <tr>
        <td><%= label_tag :assessment_title, "Tiitel" %></td>
        <td><%= text_field_tag :assessment_title, "", :name => "assessment[title]" %></td>
      </tr>

      <tr>
        <td><%= label_tag :assessment_category_name, "Tüüp (arvutiriistvara vms)" %></td>
        <td><%= text_field_tag :assessment_category_name, "", :name => "assessment[category_name]" %></td>

        <div class="autocomplete" id="category_list" style="display: none;"></div>
      </tr>

      <tr>
        <td><%= label_tag :assessment_author, "Autor, kes tahab respecti" %></td>
        <td><%= text_field_tag :assessment_author, (cookies[:author] || "itimees"), :name => "assessment[author]" %></td>
      </tr>

      <tr>
        <td colspan="2">
          <div id="new_assessment_done_button">&nbsp;</div>
          <div class="actions">
            <%= image_tag "spinner.gif", :id => "upload_step_two_spinner", :style => "display: none;" %>

            <div id="upload_step_two_success" style="display: none;">
              <%= image_tag "success.png" %> Success!
            </div>
            
            <div id="upload_step_two_failure" style="display: none;">
              <%= image_tag "failure.png" %> Failure! Lisa vajalik info ja proovi uuesti.
            </div>
          </div>
        </td>
      </tr>
    </table>
  <% end %>
</div>

<script type="text/javascript">
  var uploader = new qq.FileUploader({
    element: $('#upload_step_one')[0],
    action: '/assessments.json',
    onSubmit: function(id, fileName) {},
    onComplete: function(id, fileName, responseJSON) {
      uploadStepTwo(responseJSON);
    },
    showMessage: function(message) {
      alert(message);
    }
  });
</script>
