<%- set_title 'Kasulikud lingid' -%>
<%- catch_errors_for @link -%>

<% form_for(@link) do |f| %>
  <table>
    <tr>
      <td><%= f.label :url, 'Link (http)' %></td>
      <td><%= f.text_field :url %></td>
    </tr>

    <tr>
      <td><%= f.label :description, 'Lühike kirjeldus' %></td>
      <td><%= f.text_field :description %></td>
    </tr>

    <tr><td colspan="2"><%= submit_tag "Lisa" %></td></tr>
  </table>
<% end %>

<br/><br/>

<table id="links">
  <thead class="odd">
    <tr>
      <td>Link</td>
      <td>Kirjeldus</td>
      <td>Lisatud</td>
    </tr>
  </thead>

  <% @links.each do |link| -%>
    <tr class="<%= cycle('even', 'odd') %>">
      <td><%= link_to truncate(h(link.url), 30), link.url, :target => '_none' %></td>
      <td><%=h link.description %></td>
      <td><%= link.created_at.to_date %></td>
    </tr>
  <% end -%>
</table>
