<div id="upload_step_one">
  <div id="progress" style="display: none;">
    <div id="progress_bar">
      Palun oota!<br/>
      <%= image_tag "spinner.gif" %> <span id="progress_percentage">0%</span>
    </div>
  </div>

  <div id="new_asset_button">&nbsp;</div>
</div>

<div style="display: none" id="upload_step_two">
  <p>Palun kontrolli ja täienda andmeid</p>

  <% form_tag "#", :id => "upload_step_two_form" do %>
    <table>
      <tr>
        <td><%= label_tag :asset_title, "Tiitel" %></td>
        <td><%= text_field_tag :asset_title, "", :name => "asset[title]" %></td>
      </tr>

      <tr>
        <td><%= label_tag :asset_category_name, "Tüüp (arvutiriistvara vms)" %></td>
        <td><%= text_field_tag :asset_category_name, "", :name => "asset[category_name]" %></td>

        <div class="autocomplete" id="category_list" style="display: none;"></div>
        <script type="text/javascript">
          new Autocompleter.Local("asset_category_name", "category_list", <%= Category.all.map(&:name).to_json %>);
        </script>
      </tr>

      <tr>
        <td><%= label_tag :asset_author, "Autor, kes tahab respecti" %></td>
        <td><%= text_field_tag :asset_author, (cookies[:author] || "itimees"), :name => "asset[author]" %></td>
      </tr>

      <tr>
        <td colspan="2">
          <div id="new_asset_done_button">&nbsp;</div>
          <div class="actions">
            <%= image_tag "spinner.gif", :id => "upload_step_two_spinner", :style => "display: none;" %>

            <div id="upload_step_two_success" style="display: none;">
              <%= image_tag "success.png" %> Success!
            </div>
            
            <div id="upload_step_two_failure" style="display: none;">
              <%= image_tag "failure.png" %> Failure! Lisa vajalik info ja proovi uuesti.
            </div>
          </div>
        </td>
      </tr>
    </table>
  <% end %>
</div>
