<%- set_title 'Muu pahn' -%>

<div id="dropio_logo">
  <div>Powered by</div> <%= link_to image_tag("dropioapi_logo.png"), "http://rmb.drop.io" %>
</div>
<br/>

<table id="assets">
  <% @assets.each do |asset| %>
    <tr data-id="<%= asset.id %>">
      <td><%= image_tag improved_small_thumbnail(asset), :class => "thumb" %></td>
      <td>
        <h3><%= link_to asset.title, "#" %></h3>

        <%= render "assets/preview/#{asset.type}", asset.type.to_sym => asset rescue nil %>
      </td>
    </tr>
  <% end %>
</table>

<%= javascript_include_tag "audio-player" %>
<script type="text/javascript">
  $.each($("#assets h3 a, #assets img.thumb"), function(i, link) {
    var el = $(link).closest("tr");
    $(link).fancybox({
      href: "/assets/" + el.attr("data-id"),
      title: el.find("td:last-child h3 a").html(),
      titlePosition: "outside"
    });
  });

  AudioPlayer.setup("/flash/audio-player.swf", {width: 290});
  $.each($(".audioplayer"), function(i, el) {
    AudioPlayer.embed($(el).attr("id"), {
      soundFile: $(el).attr("data-preview"),
      titles: $(el).closest("td").find("h3 a").html()
    });
  });
</script>
