<%- set_title 'WebCT / Moodle failid' -%>
<%- catch_errors_for @asset -%>

<div id="howto">
  <h2>HowTo</h2>
  <ol>
    <li><strong>WebCT</strong></li>
    <li>Ava assasments ning vali töö</li>
    <li>Edasi "View Submission"</li>
    <li>Nüüd ava <strong>uues</strong> aknas vastav Attempt</li>
    <li>Right click ja Save Page As... (html only)</li>
  </ol>
  <ol>
    <li><strong>Moodle</strong></li>
    <li>Ava töö tulemused (kõik ühel lehel)</li>
    <li>Right click ja Save Page As... (html only)</li>
  </ol>
</div>

<%= render :partial => 'shouts' %>

<%= render :partial => 'form' %>

<br/>

<%= render :partial => 'categories' %>

<br style="clear: both;"/>

<table id="assets">
  <thead class="odd">
    <tr>
      <td>Tiitel</td>
      <td>Tüüp</td>
      <td>Aasta</td>
      <td>Autor</td>
      <td>Fail</td>
    </tr>
  </thead>
  
  <% @assets.each do |asset| -%>
    <%= render asset %>
  <% end -%>
</table>

<%# In place text editors for title and category columns %>
<%# TODO: kasuta unobtrusive js-i %>
<% if admin? -%>
  <script type="text/javascript">
    <% @assets.each do |asset| -%>
      in_place_editor($('<%= dom_id(asset) %>'), 'title', '<%= asset_path(asset, :format => "json") %>');
      in_place_editor($('<%= dom_id(asset) %>'), 'category', '<%= asset_path(asset, :format => "json") %>');
    <% end -%>
  </script>
<% end -%>

