<%- set_title 'WebCT failid' -%>
<%- catch_errors_for @asset -%>

<div id="howto">
  <h2>HowTo</h2>
  <ol>
    <li>WebCT</li>
    <li>Ava assasments ning vali töö</li>
    <li>Edasi "View Submission"</li>
    <li>Nüüd ava <strong>uues</strong> aknas vastav Attempt</li>
    <li>Right click ja Save Page As... (html only)</li>
  </ol>
</div>

<div id="shoutbox">
  <h2>ShoutBox 
    <span><%= link_to '(näita / peida)', '#', :onclick => "$('shouts').toggle();" %></span>
  </h2>
  <div id="shouts" style="display: none;">
    <p class="<%= cycle('odd', 'even') %>">
      Tegelt ootab rails 3.0 ära vast.
    </p>
    <p class="even">Uute shoutide lisamine valmib veel :)</p>
  </div>
</div>

<%= form_for(@asset, :action => resource(:assets), :class => 'new_asset') do %>
  <table>
    <tr>
      <td><%= label 'Fail (html)', :for => 'asset_file' %></td>
      <td><%= file_field :name => 'file' %></td>
    </tr>
    
    <tr>
      <td><%= label 'Tiitel', :for => 'asset_title' %></td>
      <td><%= text_field :title %></td>
    </tr>

    <tr>
      <td><%= label 'Tüüp (arvutiriistvara vms)', :for => 'asset_category' %></td>
      <td><%= text_field :category %></td>
    </tr>

    <tr>
      <td><%= label 'Töö aasta', :for => 'asset_year' %></td>
      <td><%= text_field :year, :size => 4 %></td>
    </tr>

    <tr>
      <td><%= label 'Autor, kes tahab respecti', :for => 'asset_author' %></td>
      <td><%= text_field :author %></td>
    </tr>

    <tr><td colspan="2"><%= submit "Lisa" %></td></tr>
  </table>
<% end =%>

<br/><br/>

<table id="assets">
  <thead class="odd">
    <tr>
      <td>Tiitel</td>
      <td>Tüüp</td>
      <td>Aasta</td>
      <td>Autor</td>
      <td>Fail</td>
    </tr>
  </thead>

  <% @assets.each do |asset| -%>
    <tr class="<%= cycle('even', 'odd') %>">
      <td><%=h asset.title %></td>
      <td><%=h asset.category %></td>
      <td><%= asset.year %></td>
      <td><%=h asset.author %></td>
      <td><%= link_to "Vaata", resource(asset) %></td>
    </tr>
  <% end -%>
</table>
