<%- set_title 'WebCT failid' -%>
<%- catch_errors_for @asset -%>

<div id="howto">
  <h2>HowTo</h2>
  <ol>
    <li>WebCT</li>
    <li>Ava assasments ning vali töö</li>
    <li>Edasi "View Submission"</li>
    <li>Nüüd ava <strong>uues</strong> aknas vastav Attempt</li>
    <li>Right click ja Save Page As... (html only)</li>
  </ol>
</div>

<div id="shoutbox">
  <h2>ShoutBox 
    <span><%= link_to '(näita / peida)', '#', :onclick => 'displayShouts();' %></span>
  </h2>
  <%= link_to 'Lisa shout', '#', :onclick => 'displayNewMessage();', :style => 'display: none;', :id => 'new_message_link' %>

  <div id="new_message" style="display: none;">
    <% form_for(Message.new, :url => '#', :html => {:onsubmit => "submitMessage(); return false;", :id => 'new_message_form'}) do |f| %>
      <p>
        <%= f.label :author, 'Nimi: ' %>
        <%= f.text_field :author, :size => nil %>
      </p>

      <p>
        <%= f.label :body, 'Sisu: ' %>
        <%= f.text_field :body, :size => nil %>
      </p>

      <p>
        <%= submit_tag "Lisa", :id => 'message_submit' %>
        <img src="/images/spinner.gif" alt="spinner" id="message_spinner" style="display: none;"/>
      </p>
    <% end %>
  </div>

  <div id="shouts" style="display: none;">
  </div>
</div>

<% form_for(@asset, :html => {:multipart => true}) do |f| %>
  <table>
    <tr>
      <td><%= f.label :file, 'Fail (html)' %></td>
      <td><%= f.file_field :file, :size => nil %></td>
    </tr>
    
    <tr>
      <td><%= f.label :title, 'Tiitel' %></td>
      <td><%= f.text_field :title, :size => nil %></td>
    </tr>

    <tr>
      <td><%= f.label :category, 'Tüüp (arvutiriistvara vms)' %></td>
      <td><%= f.text_field :category, :size => nil %></td>
    </tr>

    <tr>
      <td><%= f.label :year, 'Töö aasta' %></td>
      <td><%= f.text_field :year, :size => 4 %></td>
    </tr>

    <tr>
      <td><%= f.label :author, 'Autor, kes tahab respecti' %></td>
      <td><%= f.text_field :author, :size => nil %></td>
    </tr>

    <tr><td colspan="2"><%= submit_tag "Lisa" %></td></tr>
  </table>
<% end %>

<br/>

<div id="categories">
  <h2>Kategooriate pilv  
    <span><a onclick="displayCategoriesCloud();" href="#">(näita / peida)</a></span>
  </h2>

  <ul id="categories_cloud" style="display: none;">
    <% category_cloud(@categories, %w(c1 c2 c3 c4 c5)) do |name, css_class| -%>
      <li><%= link_to title(name), '#', :onclick => "Assets.showByCategory('#{name}');", :class => css_class %></li>
    <% end -%>
  </ul>
  <br style="clear: both;"/>
</div>

<br style="clear: both;"/>

<table id="assets">
  <thead class="odd">
    <tr>
      <td>Tiitel</td>
      <td>Tüüp</td>
      <td>Aasta</td>
      <td>Autor</td>
      <td>Fail</td>
    </tr>
  </thead>

  <% @assets.each do |asset| -%>
    <tr id="<%= dom_id(asset) %>" class="asset <%= cycle('even', 'odd') %>">
      <td><span class="title"><%=h title(asset.title) %></span></td>
      <td><span class="category"><%=h title(asset.category) %></span></td>
      <td><%=h asset.year %></td>
      <td><%=h asset.author %></td>
      <td>
        <%= link_to "Vaata", asset %>
        <% if admin? -%>
          | <%= link_to "Kustuta", '#', :onclick => 'destroyAsset(' + asset.id.to_s + ');' %>
        <% end -%>
      </td>     
    </tr>
  <% end -%>
</table>

<%# In place text editors for title and category columns %>
<% if admin? -%>
  <script type="text/javascript">
    <% @assets.each do |asset| -%>
      in_place_editor($('<%= dom_id(asset) %>'), 'title', '<%= asset_path(asset, :format => "json") %>');
      in_place_editor($('<%= dom_id(asset) %>'), 'category', '<%= asset_path(asset, :format => "json") %>');
    <% end -%>
  </script>
<% end -%>

