<!DOCTYPE html>
<html>
  <head>
    <title>WebCT / Moodle failide koguja</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'master', 'modalbox' %>
    <%= javascript_include_tag 'prototype', 'scriptaculous', 'modalbox' %>
    <%= javascript_include_tag 'ajaxupload', 'application' %>
  </head>
  <body>
    <h1><%= yield :title %></h1>

    <ul id="menu">
      <li><%= menu_link 'WebCT / Moodle failid', '/' %></li>
      <li><%= menu_link 'Kasulikud lingid', '/links' %></li>
      <li><%= menu_link 'Tunniplaani konverteerija', '/calendars' %></li>
    </ul>

    <% if flash[:notice] || flash[:error] -%>
      <div class="message">
        <span style="font-weight: bold;"><%= flash[:notice] || flash[:error] %></span>

        <%- if @e_model -%>  
          <%= error_messages_for @e_model %>
        <%- end -%>
      </div>
    <% end -%>

    <div id="container">
      <%= yield %>
    </div>

    <div id="scripts" style="display: none;">&nbsp;</div>
  </body>
</html>
